body{
    text-align: center;
    background-color: #011F3F;
}
.btn{
    height: 200px;
    width: 200px;
    border: 5px solid;
    border-radius: 15%;
    margin: 12px; 
}
h1{
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    color: #FEF2BF;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  .game-over {
    background-color: red;
    opacity: 0.8;
  }  